<nav>
  <a ng-click="filter = null" href>All Posts</a>
  <a ng-click="filter = 'photo'" href>Photos</a>
  <a ng-click="filter = 'video'" href>Videos</a>
</nav>

<div class="post" ng-repeat="post in posts | postsFilter: filter">
  <img ng-if="post.user.photo" ng-src="{{ post.user.photo }}">
  <p>{{ post.user.name }}</p>
  <p ng-bind-html="post.text"></p>
  <img ng-if="post.photo" ng-src="{{ post.photo }}">
  <p>{{ post.posted_time }}</p>
  <hr>
</div> 

<p ng-if="!postsFilter().length">There are no {{ filter }} posts. :(</p>
