<div class="billboard">
  <div class="container">

    <div class="billboard__user">
      <img ng-src="{{ user.photo }}">
      <h2>{{ user.name }}</h2>
      <p>{{ user.bio }}</p>
      <a href="http://{{ user.website }}">{{ user.website }}</a>
    </div>
   
    <nav class="billboard__tabs -user">
      <a href="#/users/{{ user.username }}" ng-class="{ '-active': !currentTab }">Jessica's Feed</a>
      <a href="#/users/{{ user.username }}/followers" ng-class="{ '-active': currentTab === 'followers' }">{{ user.followers.length }} Followers</a>
      <a href="#/users/{{ user.username }}/following" ng-class="{ '-active': currentTab === 'following' }">{{ user.following.length }} Following</a>
    </nav>
  </div>
</div>


<div ng-if="!currentTab" class="container -posts">
  <div class="post" ng-repeat="post in posts">
    <ng-include src="'app/posts/templates/post.html'"></ng-include>
  </div> 
</div>

<div ng-if="currentTab === 'followers'" class="container -posts">
  <div class="follower" ng-repeat="user in followers">
    <ng-include src="'app/users/templates/follower.html'"></ng-include>
  </div> 
</div>

<div ng-if="currentTab === 'following'" class="container -posts">
  <div class="follower" ng-repeat="user in following">
   <ng-include src="'app/users/templates/follower.html'"></ng-include>
  </div>
</div> 



