<div class="row content">
  <div class="follower__photo">
    <img ng-if="user.photo" ng-src="{{ user.photo }}">
  </div>
  <div class="follower__info">
    <h3>{{ user.name }}</h3>
    <a href class="button fa" ng-click="followUser(user.username)" ng-class="{ 'fa-check': isFollowing(user.username), 'fa-plus': !isFollowing(user.username) }"></a>
    <ul>
      <li>{{ user.posts.length }} post<span ng-if="user.posts.length > 1">s</span></li>
      <li>{{ user.followers.length }} followers</li>
      <li>{{ user.following.length }} following</li>
    </ul>

  </div>
</div>

