<h2>Settings</h2>

<form>
  <fieldset>
    <legend>Account</legend>
    <div class="field">
      <img ng-src="{{ user.photo }}">
      <button ng-click="">Change</button>
    </div>
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" ng-model="settings.name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" ng-model="settings.email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" ng-model="settings.password">
    </div>
  </fieldset>

  <fieldset>
    <legend>Notifications</legend>
  </fieldset>

  <fieldset>
    <legend>Privacy</legend>
  </fieldset>
</form>



